


.accueil{
    font-size: larger;
    background-color: rgb(242, 242, 242);
    width: 100wh;
    height: 100vh;
  .header{
    padding: 5px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    

    h1{
        font-size: 24px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        padding: 8px;
    }
    .button_log_out{
        align-items: center;
        text-align: center;
        margin: 5px;
        padding: 4px;
        width: 150px;
        color: rgb(166, 163, 163);
        background-color: rgb(20, 19, 19);
        border-radius: 8px;
        display: flex;
        flex-direction: row;

        img{
            padding: 5px;
            margin-left: 8px;
            margin-right: 8px;
        }

    }
  }

  .main_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .block_1{
        margin: 8px;
        padding: 10px;
        width: 100%;
        height: 100%;
        //background-color: rgb(94, 180, 118);

        .Selction_niveau1{
            margin: 8px;
            display: grid;
            grid-template-columns: 1.5fr 1fr;
        select{
            padding: 8px;
            width: 92%;
            border-radius: 10px;
            
        }

    }
    .Selction_niveau2{
        margin: 8px;
        padding: 10px;
        select{
            text-align: center;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            
        }
    }
    .affichage_selection{
        width: 95%;
        height: 65%;
        margin: 0 auto;
        padding: 24px;
        border: solid 1px;
        justify-items: center;
        border-radius: 24px;
        background-color: white;
        .cours{
            width: 80%;
            height: fit-content;
            padding: 16px;
            border: solid 1px;
            border-radius: 8px;
            margin: 8px;
            background-color: aqua;
        }
    }
        .affiche_1_semaine{
            background-color: white;
            text-align: center;
            justify-items: center;
            text-align: center;
            
            margin: 10px;
            padding: 10px;
            width:  95%;
            height: 50px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            span{
                font-weight: bold;
                justify-content: center;
            }
            button{
                font-weight: bold;
                font-size: larger;
            }
        }
        .Recherche {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin:20px; 
            margin-right: auto;
           
            .Recherche_carre{ 
                display: flex;
                position: relative;
                align-items: center;
                padding: 0;
                input{
                    width: 300px;
                    padding: 3px;
                    border-radius: 10px;
                }
            }
        }
    }
    .block_2{
        margin: 8px;
        width: 100%;
        height: 100%;
    //background-color: rgb(94, 180, 118);
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    justify-items: center;



    .calendar{
        margin-top: 20px;
        margin: 0 auto;
       height: fit-content;
       width: fit-content;
       border-radius: 8px;
       background-color: white;
    }

    .affiche_1_semaine{
        background-color: white;
        text-align: center;
        justify-items: center;
        text-align: center;
    
        margin: 24px;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;

        span{
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            font-size: 30px;
        }
        button{
            font-weight: bold;
            font-size: 30px;
        }

    }

    .affichage_nombreProf_nombreChreno{
       // background-color: aqua;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;


        .nombreProf{
        background-color: #D3DFE7;
        border: solid 1px ;
        border-color:  #798AA3 ;
        width: 90%;
        height: 70%; 
        margin : 0 auto;
        border-radius: 8px;
        text-align: center;

        p{
            margin-top: 15px;
            font-size: 24px;
        }
        h1{
            margin-top: 10px;
            font-size: 54px;
            
        }

        }
        .nombreChreno{
        border: solid 1px;
        border-color: #CE7100;
        background-color: white;
        width: 90%;
        height: 70%; 
        margin : 0 auto;
        border-radius: 8px;
        text-align: center;

        p{
            margin-top: 15px;
            font-size: 24px;
        }
        h1{
            margin-top: 10px;
            font-size: 54px;
            color: #602400;
        }

        }

    }

    }

  }


}